.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #cfe1e8;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: #acd8e8;
  border: solid 3px #68acc6;
}

.showInformation {
  padding-right: 50px;
  padding-left: 50px;
  margin: 15px;
  font-size: 15px;
  color: #3b7b94;
  background-color: #ccddea;
  border: solid 5px #68acc6;
  border-radius: 20px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  height: 12.5%;
  border: solid 1px #68acc6;
}

.stone {
  border-radius: 50%;
}

.modal {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(255 255 255 / 85%);
}

.modalContent {
  position: absolute;
  min-width: 300px;
  padding: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgb(0 0 0 / 20%);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalClose {
  padding: 4px 12px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.2s;
}

.modalClose:hover {
  color: #fff;
  background: #3b7b94;
}
