.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #cfe1e8;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: #acd8e8;
  border: solid 3px #68acc6;
}

.showInformation {
  padding-right: 50px;
  padding-left: 50px;
  margin: 15px;
  font-size: 15px;
  color: #3b7b94;
  background-color: #ccddea;
  border: solid 5px #68acc6;
  border-radius: 20px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  height: 12.5%;
  border: solid 1px #68acc6;
}

.stone {
  border-radius: 50%;
}
